@import url("../fonts/Didot.css");
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
}
* {
	box-sizing: border-box;
}
.lrColor {
	color: #ffcf40 !important;
}
.fnt span {
	font-family: 'Didot';
	font-weight: normal;
}
.fnt2 {
	font-family: 'Didot';
	font-weight: normal;
}
.pageloader {
	margin: 0 auto;
	float: left;
	width: 100%;
	height: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
}
/* Bigword Text */
.pageloader .bigword {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14rem;
	line-height: 12rem;
	height: -webkit-calc(100% - 11rem);
	height: -moz-calc(100% - 11rem);
	height: -o-calc(100% - 11rem);
	height: -ms-calc(100% - 11rem);
	height: calc(100% - 11rem);
	text-transform: uppercase;
}
.pageloader .bigword span {
	/*background-color: white;*/
	-webkit-transition: top 2.8s, left 1.8s, color 4s, opacity 1.2s, text-shadow 1.2s;
	-moz-transition: top 2.8s, left 1.8s, color 4s, opacity 1.2s, text-shadow 1.2s;
	-o-transition: top 2.8s, left 1.8s, color 4s, opacity 1.2s, text-shadow 1.2s;
	-ms-transition: top 2.8s, left 1.8s, color 4s, opacity 1.2s, text-shadow 1.2s;
	transition: top 2.8s, left 1.8s, color 4s, opacity 1.2s, text-shadow 1.2s;
	position: relative;
	top: 5%;
	bottom: auto;
	left: -2.8rem;
	opacity: 0;
	color: #ccc;
}
.pageloader .bigword span.shadow1 {
	text-shadow: -0.6rem -0.6rem 0 rgba(210, 207, 207,0.8), -1rem -1rem 0 rgba(185, 183, 183,0.4);
}
.pageloader .bigword span.shadow2 {
	text-shadow: -0.5rem -0.5rem 0 rgba(210, 207, 207,0.6);
}
.pageloader .bigword span.shadow3 {
	text-shadow: -0.4rem -0.4rem 0 rgba(210, 207, 207,0.4);
}
/* Spark Text */
.pageloader .spark {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 3rem;
	line-height: 3.2rem;
	position: absolute;
	top: -webkit-calc(100% - 11rem);
	top: -moz-calc(100% - 11rem);
	top: -o-calc(100% - 11rem);
	top: -ms-calc(100% - 11rem);
	top: calc(100% - 11rem);
}
.pageloader .spark p {
	margin: 0;
	font-size: 2.6rem;
	position: absolute;
	width: 100%;
	top: 0;
	letter-spacing: 0.02rem;
}
/* Border CSS */
.pageloader::before, .pageloader::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 94%;
	height: 94%;
	top: 3%;
	left: 3%;
	-webkit-transform-origin: center;
	transform-origin: center;
}
.pageloader::before {
	border-top: 4px solid #ffcf40;
	border-bottom: 4px solid #ffcf40;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}
.pageloader::after {
	border-left: 4px solid #ffcf40;
	border-right: 4px solid #ffcf40;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}
.pageloader.border::before, .pageloader.border::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transition: -webkit-transform 1.4s;
	transition: transform 1.4s;
}

@media only screen and (max-height: 540px) {
.pageloader .spark {
	top: -webkit-calc(100% - 8rem);
	top: -moz-calc(100% - 8rem);
	top: -o-calc(100% - 8rem);
	top: -ms-calc(100% - 8rem);
	top: calc(100% - 8rem);
}
}
@media only screen and (max-height: 480px) {
.pageloader .bigword {
	font-size: 10rem;
	line-height: 8rem;
}
.pageloader .spark {
	font-size: 2.4rem;
	line-height: 2.6rem;
}
.pageloader .spark p {
	font-size: 2.2rem;
	top: 0rem;
	letter-spacing: 0.08rem;
}
}
@media only screen and (max-height: 360px) {
.pageloader .bigword {
	font-size: 6rem;
	line-height: 6rem;
	height: -webkit-calc(100% - 8rem);
	height: -moz-calc(100% - 8rem);
	height: -o-calc(100% - 8rem);
	height: -ms-calc(100% - 8rem);
	height: calc(100% - 8rem);
}
}
@media only screen and (max-width: 800px) {
.pageloader .bigword {
	font-size: 12rem;
	line-height: 12rem;
}
.pageloader .spark {
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.pageloader .spark p {
	font-size: 2rem;
}
}

@media only screen and (max-width: 680px) {
.pageloader .bigword {
	font-size: 7.4rem;
	line-height: 6rem;
}
.pageloader .spark {
    font-size: 2rem;
    line-height: 2rem;
}
.pageloader .spark p {
	font-size: 1.6rem;
}	
}
@media only screen and (max-width: 480px) {
.pageloader .bigword {
	font-size: 4rem;
	line-height: 4rem;
}
.pageloader .spark {
	font-size: 1.2rem;
	line-height: 1.4rem;
}
.pageloader .spark p {
	font-size: 1.1rem;
	top: 0rem;
	letter-spacing: 0.02rem;
}
}
